<div class="category">
	<h1>Programming</h1>
	<ul>
		<li rel='forum:1:1'><a href="/forum/ruby">Ruby</a><br /><span><strong>34564723</strong> forums, <strong>7322345</strong> topics.</span></li>
		<li rel='forum:1:2'><a href="/forum/haskell">Haskell</a><br /><span><strong>45875</strong> forums, <strong>4545</strong> topics.</span></li>
		<li rel='forum:1:3'><a href="/forum/cpp">C++</a><br /><span><strong>67657</strong> forums, <strong>325445</strong> topics.</span></li>
		<li rel='forum:1:4'><a href="/forum/python">Python</a><br /><span><strong>283</strong> forums, <strong>7456345</strong> topics.</span></li>
		<li rel='forum:1:5'><a href="/forum/fortran">Fortran</a><br /><span><strong>2357</strong> forums, <strong>2345</strong> topics.</span></li>
		<li rel='forum:1:6'><a href="/forum/whitespace">Whitespace</a><br /><span><strong>1375847</strong> forums, <strong>56772345</strong> topics.</span></li>
	</ul>
</div>
<div class="category">
	<h1>Webmastering</h1>
	<ul>
		<li rel="forum:2:1"><a href="/forum/xhtml">(x)HTML</a><br /><span><strong>34564723</strong> forums, <strong>7322345</strong> topics.</span></li>
		<li rel="forum:2:2"><a href="/forum/html-5">HTML 5</a><br /><span><strong>45875</strong> forums, <strong>4545</strong> topics.</span></li>
		<li rel="forum:2:3"><a href="/forum/css">CSS</a><br /><span><strong>67657</strong> forums, <strong>325445</strong> topics.</span></li>
		<li rel="forum:2:4"><a href="/forum/js">JavaScript</a><br /><span><strong>283</strong> forums, <strong>7456345</strong> topics.</span></li>
		<li rel="forum:2:5"><a href="/forum/flash">Flash</a><br /><span><strong>2357</strong> forums, <strong>2345</strong> topics.</span></li>
		<li rel="forum:2:6"><a href="/forum/ajax">AJAX</a><br /><span><strong>1375847</strong> forums, <strong>56772345</strong> topics.</span></li>
	</ul>
</div>
<div class="category">
	<h1>Off-topic</h1>
	<ul>
		<li rel="forum:3:1"><a href="/forum/hydepark">Hydepark</a><br /><span><strong>34564723</strong> forums, <strong>7322345</strong> topics.</span></li>
		<li rel="forum:3:2"><a href="/forum/trash">Trash</a><br /><span><strong>45875</strong> forums, <strong>4545</strong> topics.</span></li>
		<li rel="forum:3:3"><a href="/forum/bin">Bin</a><br /><span><strong>67657</strong> forums, <strong>325445</strong> topics.</span></li>
		<li rel="forum:3:4"><a href="/forum/lib">Library</a><br /><span><strong>283</strong> forums, <strong>7456345</strong> topics.</span></li>
		<li rel="forum:3:5"><a href="/forum/whatamess">Tmp</a><br /><span><strong>2357</strong> forums, <strong>2345</strong> topics.</span></li>
	</ul>
</div>
