<!DOCTYPE html>
<html>
	<head>
		<title>Hawknee</title>
		<%= stylesheet_link_tag('hawknee/site') %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= image_tag('hawknee/clouds.png') %>
		<%= yield %>
	</body>
</html>
